body { margin: 2px 4px 2px 6px; }

p.zixletters {  font: bold 14pt Arial, sans-serif;
margin: 0 0 0 0 }

div.ixlet { position: absolute; top: 0; bottom: 15%; }

div.main { position: absolute; top: 15%;
 width: 100%; height: 85%; overflow: scroll; }

p.alert2 { font: 10pt/12pt Arial, sans-serif;
margin: 0 0 4pt 36pt; text-indent: -18pt }

p.aliasterm { font: bold 11pt/12pt "Courier New", monospace;
margin: 6pt 0 0 0 }

p.aliashelp { font: 11pt/12pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.aliaslink { font: 10pt/12pt Arial, sans-serif;
margin: 2pt 0 0 18pt }

p.body { font: 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.bodyhang { font: 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.body2 { font: 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 18pt }

p.body2q { font: italic 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 18pt }

p.body3 { font: 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 36pt }

p.booktitle3 { font: bold 10pt/12pt Arial, sans-serif;
margin: 0 0 1pt 0 }

p.bul2 { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 36pt; text-indent: -6pt }

p.bul2sub { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 36pt; text-indent: -9pt }

p.bul3 { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 54pt; text-indent: -6pt }

p.bul3sub { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 54pt; text-indent: -9pt }

p.bul3subsub { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 54pt; text-indent: -9pt }

p.bulleted { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 18pt; text-indent: -7pt }

p.bullnone { font: 10pt/12pt Arial, sans-serif;
margin: 2pt 0 0 18pt }

p.bullnone2 { font: 10pt/12pt Arial, sans-serif;
margin: 2pt 0 0 36pt }

p.bullnone3 { font: 10pt/12pt Arial, sans-serif;
margin: 2pt 0 0 54pt }

p.categorym { font: italic 10pt/12pt Arial, sans-serif;
margin: 0 0 0 0 }

p.cellbody { font: 9pt/11pt Arial, sans-serif;
margin: 0 0 0 0 }

p.cellbody2 { font: 9pt/11pt Arial, sans-serif;
margin: 0 0 0 9pt }

p.cellbodyn { font: 9pt/11pt Arial, sans-serif;
margin: 0 0 0 0 }

p.cellcode { font: 9pt/11pt "Courier New", monospace;
margin: 0 0 0 0 }

p.cellfooting { font: 9pt/9pt Arial, sans-serif;
margin: 0 0 0 0 }

p.cellhead { font: bold 10pt/11pt "Arial Narrow", sans-serif, sans-serif;
text-align:left}

p.cellheadbig { font: bold 11pt/11pt Arial, sans-serif;
text-align:left;
margin: 2pt 0 0 0 }

p.cellheadm { font: bold 10pt/11pt "Arial Narrow", sans-serif, sans-serif;
text-align:left}

p.cellheadtop { font: bold 10pt/11pt "Arial Narrow", sans-serif, sans-serif }

p.cellheadu { font: bold 10pt/11pt "Arial Narrow", sans-serif, sans-serif;
text-align:left;
text-decoration: underline; margin: 0 0 2pt 0 }

p.cellnote { font: 9pt/11pt Arial, sans-serif;
margin: 2pt 0 0 0 }

p.ncellfirst { font: 9pt/11pt Arial, sans-serif;
margin: 0 0 0 0 }

p.ncellnext { font: 9pt/11pt Arial, sans-serif;
margin: 0 0 0 0 }

p.codefirst { font: 9pt/11pt "Courier New", monospace;
margin: 3pt 0 0 18pt; white-space:pre }

p.codelast { font: 9pt/11pt "Courier New", monospace;
margin: 0 0 6pt 18pt; white-space:pre }

p.codelone { font: 9pt/11pt "Courier New", monospace;
margin: 3pt 0 6pt 18pt; white-space:pre }

p.codenext { font: 9pt/11pt "Courier New", monospace;
margin: 0 0 0 18pt; white-space:pre }

p.code2first { font: 9pt/11pt "Courier New", monospace;
margin: 3pt 0 0 36pt }

p.code2last { font: 9pt/11pt "Courier New", monospace;
margin: 0 0 6pt 36pt }

p.code2lone { font: 9pt/11pt "Courier New", monospace;
margin: 3pt 0 6pt 36pt }

p.code2next { font: 9pt/11pt "Courier New", monospace;
margin: 0 0 0 36pt }

p.code3first { font: 9pt/11pt "Courier New", monospace;
margin: 3pt 0 0 54pt }

p.code3last { font: 9pt/11pt "Courier New", monospace;
margin: 0 0 6pt 54pt }

p.code3lone { font: 9pt/11pt "Courier New", monospace;
margin: 3pt 0 6pt 54pt }

p.code3next { font: 9pt/11pt "Courier New", monospace;
margin: 0 0 0 54pt }

p.code4last { font: 9pt/11pt "Courier New", monospace;
margin: 0 0 6pt 72pt }

p.cwfirst { font: 9pt/11pt "Courier New", monospace }

p.cwlast { font: 9pt/11pt "Courier New", monospace }

p.cwlone { font: 9pt/11pt "Courier New", monospace }

p.cwnext { font: 9pt/11pt "Courier New", monospace }

p.widecode { font: 9pt/11pt "Courier New", monospace;
margin: 0 0 0 0; white-space:pre }

p.flushcode { font: 9pt/11pt "Courier New", monospace;
margin: 0 0 0 0; white-space:pre }

p.dcellbody { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 2pt 0 0 }

p.desc1 { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 90pt; text-indent: -90pt }

p.desc1a { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 72pt; text-indent: -72pt }

p.desc2 { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 108pt; text-indent: -90pt }

p.desc2a { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 72pt; text-indent: -54pt }

p.desc3 { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 108pt; text-indent: -72pt }

p.fig { font: bold 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.fig2 { font: bold 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 18pt }

p.xafig { font: bold 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.xafig2 { font: bold 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 18pt }

p.figlof { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt }

p.fig2lof { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt }

p.xafiglof { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt }

p.xafig2lof { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt }

p.znofigureslof { font: italic 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt }

p.znotableslot { font: italic 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt }

p.footer { font: 12pt/14pt Arial, sans-serif }

p.footnote { font: 9pt/11pt Arial, sans-serif;
margin: 0 18pt 0 18pt }

p.grouptitlesiom { font: bold 14pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.grouptitlesix { font: bold 14pt Arial, sans-serif;
margin: 6pt 0 0 0 }

h2.h1 { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

h3.h2 { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

p.h1toc { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 36pt; text-indent: -18pt }

p.h2toc { font: 10pt/12pt Arial, sans-serif;
margin: 0 0 0 54pt; text-indent: -18pt }

h4.h3 { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

h5.h4 { font: bold 10pt/12pt Arial, sans-serif;
margin: 10pt 0 1pt 0 }

p.header { font: small-caps 9pt/11pt Arial, sans-serif }

p.hrunin { font: bold 10pt/12pt Arial, sans-serif;
margin: 5pt 0 0 0 }

p.indexix { font: 10pt/12pt Arial, sans-serif }

p.level1iom { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt; text-indent: -18pt }

p.level2iom { font: 10pt/12pt Arial, sans-serif;
margin: 0 0 0 36pt; text-indent: -18pt }

p.level3iom { font: 10pt/12pt Arial, sans-serif;
margin: 0 0 0 54pt; text-indent: -18pt }

p.level1ix { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt; text-indent: -18pt }

p.level2ix { font: 10pt/12pt Arial, sans-serif;
margin: 0 0 0 36pt; text-indent: -18pt }

p.level3ix { font: 10pt/12pt Arial, sans-serif;
margin: 0 0 0 54pt; text-indent: -18pt }

p.xlevel1ix { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt; text-indent: -18pt }

p.xlevel2ix { font: 10pt/12pt Arial, sans-serif;
margin: 0 0 0 36pt; text-indent: -18pt }

p.xlevel3ix { font: 10pt/12pt Arial, sans-serif;
margin: 0 0 0 54pt; text-indent: -18pt }

p.n1first { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 18pt; text-indent: -12pt }

p.n1next { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 18pt; text-indent: -12pt }

p.n2first { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 45pt; text-indent: -12pt }

p.n2next { font: 10pt/12pt Arial, sans-serif;
margin: 4pt 0 0 45pt; text-indent: -12pt }

p.n2sub { font: 10pt/12pt Arial, sans-serif;
margin: 2pt 0 0 45pt; text-indent: -21pt }

p.n3sub { font: 10pt/12pt Arial, sans-serif;
margin: 2pt 0 0 81pt; text-indent: -36pt }

p.note { font: 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 36pt; text-indent: -36pt }

p.notestart { font: 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 36pt; text-indent: -36pt }

p.noteindent { font: 10pt/12pt Arial, sans-serif;
margin: 2pt 0 0 54pt }

p.notenext { font: 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 36pt }

p.note2 { font: 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 54pt; text-indent: -31pt }

p.notel2 { font: 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 72pt; text-indent: -28pt }

p.zoverview { font: bold 12pt/14pt Arial, sans-serif;
margin: 10pt 0 2pt 0 }

p.pophead { font: italic 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0; color:purple }

p.release { font: bold 10pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

p.rowhead { font: bold 10pt/11pt "Arial Narrow", sans-serif;
margin: 0 0 0 0 }

p.sectintro { font: 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.seealso { font: 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.shortspace { font: 6pt/4pt Arial, sans-serif;
margin: 0 0 0 0 }

p.chapref { font: bold italic 10pt/13pt Arial, sans-serif; 
margin: 8pt 0 -3pt 0; color: green }

p.sideword { font: italic 10pt/13pt Arial, sans-serif;
margin: 8pt 0 -3pt 0; color:green }

p.spacer { font: 6pt/6pt Arial, sans-serif;
margin: 0 0 0 0 }

p.summaryentries { font: 10pt/12pt Arial, sans-serif;
margin: 0 0 1pt 18pt }

p.tablefootnote { font: 8pt/10pt Arial, sans-serif;
margin: 0 18pt 0 30pt; text-indent: -12pt }

p.tabletitle { font: bold 10pt/10pt Arial, sans-serif; 
margin: 6pt 0 2pt 0 }

p.tabletitle2 { font: bold 10pt/10pt Arial, sans-serif;
margin: 6pt 0 2pt 18pt}

p.xatabletitle { font: bold 10pt/10pt Arial, sans-serif; 
margin: 6pt 0 2pt 0 }

p.xatabletitle2 { font: bold 10pt/10pt Arial, sans-serif;
margin: 6pt 0 2pt 18pt}

p.xntabletitle { font: bold 10pt/10pt Arial, sans-serif;
margin: 6pt 0 2pt 0}

p.tabletitlelot { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt }

p.tabletitle2lot { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt }

p.xatabletitlelot { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt }

p.xatabletitle2lot { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt }

p.xntabletitlelot { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 18pt }

p.trail { font: 9pt/11pt Arial, sans-serif;
margin: 0 0 0 0 }

p.xatabletitle { font: bold 11pt/10pt Arial, sans-serif; 
margin: 6pt 0 4pt 0 }

p.xa2tabletitle { font: bold 11pt/10pt Arial, sans-serif; 
margin: 6pt 0 2pt 18pt }

h2.xah1 { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

h3.xah2 { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

p.xah1toc { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 36pt; text-indent: -18pt }

p.xah2toc { font: 10pt/12pt Arial, sans-serif;
margin: 0 0 0 54pt; text-indent: -18pt }

h4.xah3 { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

h5.xah4 { font: bold 10pt/12pt Arial, sans-serif;
margin: 10pt 0 1pt 0 }

p.xfig { font: bold 12pt/14pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.xfig2 { font: bold 12pt/14pt Arial, sans-serif;
margin: 6pt 0 0 18pt }

h2.xnh1 { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

h3.xnh2 { font: bold 12pt/12pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

p.xnh1toc { font: 10pt/12pt Arial, sans-serif;
margin: 3pt 0 0 36pt; text-indent: -18pt }

p.xnh2toc { font: 10pt/12pt Arial, sans-serif;
margin: 0 0 0 54pt; text-indent: -18pt }

p.xnh3snoplit { font: bold 10pt/12pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.xnh3 { font: bold 10pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

h5.xnh4 { font: bold 10pt/12pt Arial, sans-serif;
margin: 10pt 0 1pt 0 }

p.parttitle { font: bold 10pt/12pt Arial, sans-serif;
margin: 10pt 0 1pt 0 }

p.z1figanchor { font: 2pt/0 Arial, sans-serif;
margin: 0 0 13pt 0 }

p.z2figanchor { font: 2pt/0 Arial, sans-serif;
margin: 0 0 13pt 18pt }

h1.zappxtitle { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

h1.zchaptitle { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

h1.ztoctitle { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

h1.zlisttitle { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

h1.znonumtitle { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

h1.zindextitle { font: bold 12pt/14pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

p.zappxtitlelof { font: bold 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.zchaptitlelof { font: bold 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.znonumtitlelof { font: bold 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.zappxtitlelot { font: bold 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.zchaptitlelot { font: bold 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.znonumtitlelot { font: bold 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.zappxtitletoc { font: bold 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.zchaptitletoc { font: bold 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.zindextitletoc { font: bold 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.zlisttitletoc { font: bold 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

p.znonumtitletoc { font: bold 10pt/13pt Arial, sans-serif;
margin: 6pt 0 0 0 }

h1.zixletters { font: bold 14pt/16pt Arial, sans-serif;
margin: 0 0 0 0 }

p.zixtitle { font: bold 18pt/20pt Arial, sans-serif;
margin: 12pt 0 2pt 0 }

p.cellheading { font: bold 10pt/11pt "Arial Narrow", sans-serif }

p.cellboldhead { font: bold 11pt/14pt "Arial Narrow", sans-serif }

p.cellroman { font: 10pt/10pt Arial, sans-serif }

p.code { font: 10pt/11pt "Courier New", monospace }

span.bodycell { font: 9pt/11pt Arial, sans-serif }

span.bodychar { font: 10pt/12pt Arial, sans-serif }

span.bold { font-weight: bold }

span.boldred { font: bold 10pt/12pt Arial, sans-serif;
color:red}

span.boldreditalic { font: bold italic 10pt/12pt Arial, sans-serif;
color:red}

span.bolditalic { font: bold italic 10pt/12pt Arial, sans-serif }

span.code { font: 10pt/12pt "Courier New", monospace }

span.codebold { font: bold 10pt/12pt "Courier New", monospace }

span.codeboldred { font: bold 10pt/12pt "Courier New", monospace;
color:red }

span.codeital { font: italic 10pt/12pt "Courier New", monospace }

span.cellbodychar { font: 9pt/10pt Arial, sans-serif }

span.cellbodyital { font: italic 9pt/11pt Arial, sans-serif }

span.cellcodeboldred { font: bold 9pt/11pt "Courier New", monospace;
color:red }

span.codeboldred { font: bold 10pt/12pt "Courier New", monospace;
color:red }

span.cellcodechar { font: 9pt/11pt "Courier New", monospace }

span.cellcodeitalic { font: italic 9pt/11pt "Courier New", monospace }

span.cellmarker { font: bold 9pt/11pt Arial, sans-serif }

span.cellmarkerital { font: bold italic 9pt/11pt Arial, sans-serif }

span.formatname { font: italic 10pt/12pt Arial, sans-serif }

span.markername { font: bold 10pt/12pt Arial, sans-serif }

span.markernameital { font: bold italic 10pt/12pt Arial, sans-serif }

span.popup { font: bold 10pt/12pt Arial, sans-serif;
color:green}

span.screen { font: bold 10pt/12pt Arial, sans-serif }

span.symbol { font: 9pt/10pt Symbol }

span.zixcode { font: 9.5pt/11pt "Courier New", monospace }

span.zixcodebold { font: bold 9.5pt/11pt "Courier New", monospace }

span.zixletter { font: bold 14pt/16pt Arial, sans-serif }

p.omnihead { font: bold 11pt/12pt Arial, sans-serif;
margin: 2pt 2pt 2pt 2pt; text-align: left }

p.navcell { font: bold 9pt/11pt Arial, sans-serif;
text-align: center }

p.navcellital { font: italic 9pt/11pt Arial, sans-serif;
text-align: center }

h1.booktitle { font: bold 14pt/16pt Arial, sans-serif;
text-align: left }

p.booktitle2 { font: bold 12pt/14pt Arial, sans-serif;
text-align: left }

p.booktitle3 { font: bold 10pt/12pt Arial, sans-serif;
margin: 0 0 1pt 0; text-align: left }

p.booktitle4 { font: bold 10pt/12pt Arial, sans-serif;
margin: 0 0 1pt 0; text-align: left }
