
/* OmniHelp CSS styles for ctrl elements, OHver 0.9 */

:link, :active, :visited { color: blue; text-decoration: none }


/* top panel only */

body.topnav { background: #999 ; margin: 0 }

p.topbody { font: bold 12pt/12pt sans-serif }

table.topnav { vertical-align: middle; border-style: none }

td.topnav { font: bold 10pt/10pt sans-serif;
margin: 0; text-align: center; vertical-align: top }


/* nav ctrl panel only (center left) */

body.navctrl { background: silver ; margin: 0 }

table.navctrl { vertical-align: middle; border-style: none;
padding: 2px; white-space: nowrap }

table.navtoc { vertical-align: middle; border-style: none;
padding: 0; white-space: nowrap }

table.navfts { vertical-align: middle; border-style: none;
padding: 0; white-space: nowrap }

th.nav { font: 9pt/11pt sans-serif;
margin: 0 2pt ; background: silver }

th.navx { font: 9pt/11pt sans-serif;
margin: 0 2pt ; background: white }

td.navx { font: 10pt/12pt sans-serif;
margin: 0 2pt ; background: silver; white-space: normal }

td.navxsmall { font: 9pt/14pt sans-serif;
margin: 0 ; background: silver }

td.navxxsmall { font: 8pt/12pt sans-serif;
margin: 0 ; background: silver }

td.navxbtn { font: 8pt/8pt sans-serif;
margin: 0 ; text-align: center ; background: silver }

.tocbtn { font: 9pt/9pt sans-serif;
margin: 0 ; text-align: center }


/* nav panel (bottom left) */

body.nav { background: silver; margin: 2px }

.body { font: bold 12px/12px sans-serif }

p.navx { font: 10pt/12pt sans-serif;
margin: 0 2pt }

img.tcv { vertical-align: text-bottom; border: none; }

.tocv { font: 12px/12px sans-serif; width: 800px;
margin: 0 }

.tocvx { font: 12px/12px sans-serif; width: 800px;
margin: 0 }

span.tcvx { background: white }

.tocld { font: bold 12px/12px sans-serif; width: 800px;
margin: 0 0 0 6pt }


/* these are used for non-expanding TOC */

.toc1 { font: 10pt/12pt sans-serif; width: 800px;
margin: 0 ; background: silver }

.toc1x { font: bold 10pt/12pt sans-serif; width: 800px;
margin: 4pt 0 4pt 0 ; background: white }

.toc2 { font: 10pt/12pt sans-serif; width: 800px;
margin: 0 0 0 6pt ;  background: silver }

.toc2x { font: bold 10pt/12pt sans-serif; width: 800px;
margin: 4pt 0 4pt 6pt ;  background: white }

.toc3 { font: 10pt/12pt sans-serif; width: 800px;
margin: 0 0 0 12pt ;  background: silver }

.toc3x { font: bold 10pt/12pt sans-serif; width: 800px;
margin: 4pt 0 4pt 12pt ;  background: white }

.toc4 { font: 10pt/12pt sans-serif; width: 800px;
margin: 0 0 0 18pt ;  background: silver }

.toc4x { font: bold 10pt/12pt sans-serif; width: 800px;
margin: 4pt 0 4pt 18pt ;  background: white }

.toc5 { font: 10pt/12pt sans-serif; width: 800px;
margin: 0 0 0 24pt ;  background: silver }

.toc5x { font: bold 10pt/12pt sans-serif; width: 800px;
margin: 4pt 0 4pt 24pt ;  background: white }

.toc6 { font: 10pt/12pt sans-serif; width: 800px;
margin: 0 0 0 30pt ;  background: silver }

.toc6x { font: bold 10pt/12pt sans-serif; width: 800px;
margin: 4pt 0 4pt 30pt ;  background: white }

.toc7 { font: 10pt/12pt sans-serif; width: 800px;
margin: 0 0 0 36pt ;  background: silver }

.toc7x { font: bold 10pt/12pt sans-serif; width: 800px;
margin: 4pt 0 4pt 36pt ;  background: white }

.toc8 { font: 10pt/12pt sans-serif; width: 800px;
margin: 0 0 0 42pt ;  background: silver }

.toc8x { font: bold 10pt/12pt sans-serif; width: 800px;
margin: 4pt 0 4pt 42pt ;  background: white }

.toc9 { font: 10pt/12pt sans-serif; width: 800px;
margin: 0 0 0 48pt ;  background: silver }

.toc9x { font: bold 10pt/12pt sans-serif; width: 800px;
margin: 4pt 0 4pt 48pt ;  background: white }


/* these are for index, search, and related */

span.currix { background: white }

.fts { font: 12px/14px sans-serif; width: 800px;
margin: 0 }

.ftsm { font: 12px/14px sans-serif;
margin: 0 }

.rel { font: 12px/14px sans-serif; width: 800px;
margin: 0 }


/* end of ohctrl.css */
